### Conhecendo a base de dados

Importando as bibliotecas básicas

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

Carregando a base de dados

In [2]:
# Carrega o dataset de boston
boston = pd.read_csv("boston/dataframe/housing.csv")
boston

        RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]

In [7]:
# descrição do dataset
print(boston.DESCR)

AttributeError: 'DataFrame' object has no attribute 'DESCR'

In [6]:
# Criando um dataframe pandas

data = pd.DataFrame(boston.data, columns=boston.feature_names)

AttributeError: 'DataFrame' object has no attribute 'data'